@import "saitamadotfun/bunshi/index.css";

@unocss preflights;
@unocss default;
@unocss;

*,
*:focus,
*:hover {
  outline: none;
}




@font-face {
  font-family: 'Bold Marker';
  src: url(../assets/fonts/Bold-Marker.otf);
}

.font-bold-marker {
  font-family: 'Bold Marker';
}

.ghost-text {
  text-shadow: #f59e0b 0 10px;
}


.ghost-text-size{
  font-size: larger;
}